<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
     <style>
        table, th, td{
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>

<a href="{% url 'index' %}"><input type="button" value="Group"/></a><br>
<a href="{% url 'group:create' %}"><input type="button" value="Create new group"/></a><br><br>


<table style="width:50%">
    <p></p>
    <tr>
        <th>id</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>group_code</th>
        <th>group_number</th>
        <th>form_of_training</th>
        <th>head</th>
        <th>curator</th>
    </tr>

{% for group in group %}
    <tr>
        <td><a href="{% url 'group:edit' pk=group.id %}">{{ group.id }}</a></td>
        <td>{{ group.first_name }}</td>
        <td>{{ group.last_name }}</td>
        <td>{{ group.group_code }}</td>
        <td>{{ group.group_number }}</td>
        <td>{{ group.form_of_training }}</td>
        <td>{{ group.head.full_name }}</td>
        <td>{{ group.curator }}</td>
    </tr>


    {% endfor %}
</table>

</body>
</html>